[submodule "QipsiusPsychologyAPI"]
	path = QipsiusPsychologyAPI
	url = https://github.com/Qipsius/QipsiusPsychologyApi.git
[submodule "QipsiusPsychologyAdmin"]
	path = QipsiusPsychologyAdmin
	url = https://github.com/Qipsius/QipsiusPsychologyAdmin.git
